name: Generate Documentation
run-name: Generate documentation for ${{ github.ref_name }} by @${{ github.actor }}

on:
  push:
  workflow_dispatch:
  release:
    types: [created]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      # Build steps
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 16.x
          cache: "npm"
          cache-dependency-path: "**/.github/workflows/*.yml"
      - name: Build
        run: npx moonwave build
      
      # Upload steps
      - name: Upload artifact
        if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: build
          retention-days: 5
  
  publish:
    if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
    
    needs: build
    runs-on: ubuntu-latest
    
    concurrency:
      group: "pages"
      cancel-in-progress: true
    
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: documentation
          path: build
      
      # Upload steps
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: build
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
